* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: papayawhip;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
section h1 {
    font-size: 5rem;
    margin-bottom: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container {
    padding: 1rem 2rem;
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container img {
    border-radius: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.container img:hover {
    cursor: pointer;
    scale: 1.1;
}
section .btn {
    color: papayawhip;
    background: black;
    border: none;
    font-size: 1.5rem;
    padding: 1.5rem 3rem;
    border-radius: 3rem;
    margin-top: 4rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
section .btn:hover {
    cursor: pointer;
    border: 1px solid black;
    color: black;
    background: transparent;
    transition: .3s ease-in-out;
}